<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <aspNetCore processPath="dotnet"
                    arguments=".\workstation-back-end.dll"
                    stdoutLogEnabled="true"
                    stdoutLogFile="\\?\%home%\LogFiles\stdout"
                    hostingModel="InProcess">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>